.gallery {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
}

.item {
    vertical-align: top;
    flex: 3;
}

.item#padded {
    padding: 3.5vh;
}

.item img {
    display: block;
    width: 100%;
    height: auto;
}