body {
    /* background-image: url("../data/woodgrain.jpg"); */
    /* background-size: cover; */
    background-color: black;
    color: black;
    margin: 0;
}

h1 {   
  font-size: 24px;
}

/* links */

a:link {
    color: #7e0e0e;
}

a:visited {
    color: #3e0303;
}

a:hover {
    color: #7e0e0e;
}

a:active {
    color: #7e0e0e;
}

/* button-like application div */

.button {
    background: #7e0e0e;
    cursor: pointer;
    padding: 0.5em;
    text-align: center;
    margin: 0 auto;
    max-width: 40%;
    border-radius: 1em;
    position: relative;
}

.button:hover {
    background: #3e0303;
    color:red;
}

.button a {   
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    /* text-decoration: none; */
}

.link-spanner {
    position: absolute; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

/* others */

.navigation a {
    background: #7e0e0e;
    color: white;
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.2em;
    padding: 1em 0px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.navigation a:hover {
    background: #3e0303;
}

.navigation ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    flex: 3;
}

.navigation .user {
    flex: 1;
}

.splash {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 3vh 0px;
    width: 50%;
}

.splash-v {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 3vh 3vh;
    width: 40%;
}

.rounded {
    border-radius: 2.5em;
}

#showcase {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 70%;
}

#subshowcase {
    background-color: white;
    display: flex;
}

#subshowcase-detail {
    flex: 4;
    padding: 2.5vh 2.5vh;
}

#subshowcase-detail h1, h2, h4, p {
    width: 65%;
}

#subshowcase-detail .navigation {
    margin-left: auto;
    margin-right: auto;
}

#subshowcase-detail hr {
    width: 65%;
}

#subshowcase-detail h1, h2, h4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
}

#subshowcase-detail h1, h2 {
    text-align: center;
}

#subshowcase-detail p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.map {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

iframe {
    top: 0;
    left: 0;
    border: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    border-radius: 30px;
}

.bottom {
    margin-left: auto;
    margin-right: auto;
    padding-top: 15vh;
    padding-bottom: 5vh;
}

.menu {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.menu img {
    margin-top: 8px;
    vertical-align: middle;
    max-width: 100%;
}

.menu img.long {
    max-width: 90%;
    padding: 5%;
}

@media all and (max-width: 64em) {
    .navigation a {
        padding: 0.67em 0px;
    }
    .navigation ul {
        flex-wrap: wrap;
    }
    .navigation li {
        flex: 1 1 50%;
    }
    #showcase {
        width: 85%;
    }
    #subshowcase-detail h1, h2, h4, p {
        width: 80%;
    }
    .menu {
        width: 85%;
    }
    .splash {
        width: 60%;
    }
    .splash-v {
        width: 50%;
    }
    .map {
        padding-bottom: 55%;
    }
}

@media all and (orientation: portrait) {
    .navigation a {
        padding: 0.33em 0px;
    }
    .navigation ul {
        flex-wrap: wrap;
    }
    .navigation li {
        flex: 1 1 100%;
    }
    #showcase {
        width: 100%;
    }
    #subshowcase-detail h1, h2, h4, p {
        width: 95%;
    }
    .menu {
        width: 100%;
    }
    .splash {
        width: 70%;
    }
    .splash-v {
        width: 60%;
    }
    .map {
        padding-bottom: 70%;
    }
}