body {
    margin: 0;
    /* background-image: url("../data/woodgrain.jpg"); */
    background-size: cover;
    background-color: black;
}

.navigation a {
    background: rgba(238, 13, 13, 1);
    color: white;
    display: inline-block;
    font-weight: 300;
    letter-spacing: 2px;
    padding: 2.5vh 0px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.navigation a:hover {
    background: rgba(238, 13, 13, 0.75);
}

.navigation ul {
    border: 1px solid rgb(212, 20, 20);
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    flex: 3;
}

.navigation .user {
    flex: 1;
}

@media all and (max-width: 720px) {
    .navigation li {
        flex-basis: 100%;
    }
    .navigation .user {
        flex-basis: 50%;
    }
}

.splash {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 3vh 0px;
    width: 50%;
}

.splash-v {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 3vh 0px;
    width: 40%;
}

#showcase {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 75%;
}

#subshowcase {
    display: flex;
    height: 100%;
}

#subshowcase-detail {
    /* min-height: 90vh; */
    background-color: white;
    flex: 4;
    padding: 2.5vh 2.5vh;
    padding-bottom: 15vh;
}

#subshowcase-detail h1,h2 {
    text-align: center;
}

#subshowcase-detail p {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
