body {
    /* background-image: url("../data/woodgrain.jpg"); */
    /* background-size: cover; */
    background-color: black;
    margin: 0;
}

.navigation a {
    background: #7e190e;
    color: white;
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.2em;
    padding: 1.25em 0px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.navigation a:hover {
    background: #3e0403;
}

.navigation ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    flex: 3;
}

.navigation .user {
    flex: 1;
}

@media all and (max-width: 1000px) {
    .navigation ul {
        flex-wrap: wrap;
    }
    .navigation li {
        flex: 1 1 50%;
    }
}

@media all and (max-width: 480px) {
    .navigation li {
        flex-basis: 100%;
    }
}

.splash {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 3vh 0px;
    width: 50%;
}

.splash-v {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 3vh 0px;
    width: 40%;
}

#showcase {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 70%;
}

#subshowcase {
    background-color: white;
    display: flex;
    padding-bottom: 15vh;
}

#subshowcase-detail {
    flex: 4;
    padding: 2.5vh 2.5vh;
}

#subshowcase-detail .navigation {
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

#subshowcase-detail hr {
    padding: 5vh 0;
    border: 0;
}

#subshowcase-detail h1, h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 65%;
}

#subshowcase-detail p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    width: 65%;
}